body {
  font-size: 14px;
}

.landButton {
  border: solid 1px red;
  padding: 2px;
  text-align: center;
  background-color: red;
  color: white;
}

.takeoffButton {
  border: solid 1px green;
  padding: 2px;
  text-align: center;
  background-color: green;
  color: white;
}
