<!DOCTYPE html>
<html>
  <head>
    <title>FCTime</title>
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="styles/main.css"></link>
    <style>
      td, th {
        padding: 5px;
      }
    </style>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="timesheet/StateEvent.js"></script>
    <script type="text/javascript" src="timesheet/TimeEntry.js"></script>
    <script type="text/javascript" src="timesheet/TimesheetState.js"></script>
    <script type="text/javascript" src="timesheet/TimesheetStore.js"></script>
    <script type="text/javascript" src="timesheet/MainController.js"></script>
  </head>
  <body ng-app="timesheet" ng-controller="mainController as ctrl">


    <script type="text/ng-template" id="customTemplate.html">
      <a>
          <span>{{match.model}}hello</span>
          <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
      </a>
    </script>

    <table cellspacing="10">
      <thead>
        <tr>
          <th>Sorszám</th>
          <th>Első ülés</th>
          <th>Lajstrom jel</th>
          <th>Második ülés</th>
          <th>Felszállás</th>
          <th>Leszállás</th>
          <th>Rep idő</th>
          <th>Címkék</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>
            <div>
              <input type="text" value="Oláh Attila"></input>
              <select>
                <option>Utas</option>
                <option>Oktatás/ellenőrzés</option>
                <option>PIC</option>
              </select>
            </div>
            <div>
              <div style="display: inline-block; margin-right: 5px"><select><option>Endresz</option></select></div>
              <div style="display: inline-block"><select><option>A</option><option>B</option><option>C</option><option>D</option><option>E</option><option>F</option></select></div>
            </div>
          </td>
          <td>
            <select>
              <option>HA-5560</option>
              <option>HA-4524</option>
              <option>HA-5065</option>
            </select>
          </td>
          <td>
            <div>
              <input type="text" value="Sall István"></input>
              <select selected="1">
                <option>Oktató</option>
                <option>Utas</option>
              </select>
            </div>
            <div>
              <div style="display: inline-block; margin-right: 5px"><select><option>Endresz</option></select></div>
            </div>
          </td>
          <td>
            <input type="text" value="12:00" size="6"></input>
          </td>
          <td>
            <input type="text" value="13:00" size="6"></input>
          </td>
          <td>
            <input type="text" value="01:00" size="6"></input>
          </td>
          <td>
            <input type="text" value="Bónusz, Vontatás" size="5"></input>
          </td>
        </tr>
        <tr>
          <td></td>
          <th>Motoros pilóta</th>
          <th>Motoros lajstrom</th>
          <td></td>
          <th>Lekapcsolás</th>
          <th>Motoros leszállás</th>
          <th>Motoros idő</th>
        </tr>
        <tr>
          <td></td>
          <td>
            <div>
              <input type="text" value="Dosek Dani"></input>
            </div>
            <div>
              <div style="display: inline-block; margin-right: 5px"><select><option>Endresz</option></select></div>
            </div>
          </td>
          <td>
            <select>
              <option>HA-TUD</option>
            </select>
          </td>
          <td></td>
          <td>
            <input type="text" value="12:10" size="10"></input>
          </td>
          <td>
            <input type="text" value="13:12" size="10"></input>
          </td>
          <td>
            <input type="text" value="00:10" size="10"></input>
          </td>
        </tr>
      </tbody>
    </table>
<div style="height: 40px"></div>
    <table>
      <thead>
        <tr>
          <th>Sorszám</th>
          <th>Név</th>
          <th>Klub</th>
          <th>Vizsgafok</th>
          <th>Lajstrom jel</th>
          <th>Oktató</th>
          <th>Felszállás</th>
          <th>Leszállás</th>
          <th>Rep idő</th>
          <!--<th>Motoros pilóta</th>
          <th>Motoros lajstrom</th>
          <th>Lekapcsolás</th>
          <th>Leszállás</th>
          <th>Rep idő</th>-->
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in ctrl.items">
             <!--<form name="timeEntryForm{{$index}}">-->
               <td>x.</td>
               <td>
                 <form name="tmpForm">
                 <input
                  type="text"
                  name="primarySeatPerson"
                  ng-model="item.primarySeatPerson"
                  typeahead-on-select="ctrl.primarySeatPersonSelected(item.id, $item, $model, $label)"
                  uib-typeahead="person as person.name for person in ctrl.persons | filter:$viewValue | limitTo:8"
                  typeahead-template-url="customTemplate.html"
                  typeahead-no-results="noResults"
                  fc-person-format
                  ></input>
                  <div ng-show="tmpForm.primarySeatPerson.$error.person">
                    <i class="glyphicon glyphicon-remove"></i>Nincs ilyen név <button ng-click="ctrl.setAsPassenger(item.id, tmpForm.primarySeatPerson)">Utas?</button>
                  </div>
                  <div>{{item.primarySeatPerson}}</div>
                  <div>form: {{scope}}</div>
                </form>
               </td>
               <td><input type="text" ng-bind="item.club" size="5"></input></td>
               <td><input type="text" ng-bind="item.level" size="2"></input></td>
               <td><input type="text" ng-bind="item.reg" size="8"></input></td>
               <!--<td><input type="text" ng-model="item.instructor" ng-change="ctrl.changeInstructor(item.id)"></input></td>-->
               <td><input
                      type="text"
                      ng-model="item.instructor"
                      ng-change="ctrl.changeInstructor(item.id)"
                      uib-typeahead="person as person.name for person in ctrl.persons | filter:$viewValue | limitTo:8"
                      typeahead-on-select="ctrl.instructorSelected($item, $model, $label)"
                      ></input>
               <div>{{item.instructor}}</div>
              Directive:     <fc-person person="item.instructor">Ez egy fc person</fc-person>
             </td>
               <td>
                 <div ng-if="item.state == 0">
                   <button class="takeoffButton" ng-click="ctrl.takeOff(item.id)">Felszállás</button>
                 </div>
                 <div ng-if="item.state == 1 || item.state == 2">
                   <input type="text" value="{{item.takeoffTime}}" size="6"></input>
                 </div>
               </td>
               <td>
                 <div ng-if="item.state == 1">
                   <button class="landButton" ng-click="ctrl.land(item.id)">Leszállás</button>
                 </div>
                 <div ng-if="item.state == 2">
                   <input type="text" value="{{item.landTime}}" size="6"></input>
                 </div>
               </td>
               <td>
                 <div ng-if="item.state == 1" class="flyingAirTime">
                   {{item.airTime}}
                 </div>
                 <div ng-if="item.state == 2">
                   <input type="text" value="{{item.airTime}}" size="6"></input>
                 </div>
               </td>
            <!--</form>-->
          </tr>
      </tbody>
    </table>
    <div>
      <button ng-click="ctrl.addEmpty()">Új</button>
    </div>
  </body>
</html>
