<!DOCTYPE html>
<html>
  <head>
    <title>FCTime</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"></link>
    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="timesheet/StateEvent.js"></script>
    <script type="text/javascript" src="timesheet/TimesheetState.js"></script>
    <script type="text/javascript" src="timesheet/TimesheetStore.js"></script>
    <script type="text/javascript" src="timesheet/MainController.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-app="timesheet" ng-controller="mainController as ctrl">
    <table>
      <thead>
        <tr>
          <th>Sorszám</th>
          <th>Név</th>
          <th>Klub</th>
          <th>Vizsgafok</th>
          <th>Lajstrom jel</th>
          <th>Oktató</th>
          <th>Felszállás</th>
          <th>Leszállás</th>
          <th>Rep idő</th>
          <!--<th>Motoros pilóta</th>
          <th>Motoros lajstrom</th>
          <th>Lekapcsolás</th>
          <th>Leszállás</th>
          <th>Rep idő</th>-->
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in ctrl.items">
             <td>x.</td>
             <td><input type="text" ng-model="item.name" uib-typeahead=""></input></td>

<!--uib-typeahead="state for state in states | filter:$viewValue | limitTo:8"-->

             <td><input type="text" ng-bind="item.club" size="5"></input></td>
             <td><input type="text" ng-bind="item.level" size="2"></input></td>
             <td><input type="text" ng-bind="item.reg" size="8"></input></td>
             <td><input type="text" ng-model="item.instructor" ng-change="ctrl.changeInstructor(item.id)"></input></td>
             <td>
               <div ng-if="item.state == 0">
                 <button class="takeoffButton" ng-click="ctrl.takeOff(item.id)">Felszállás</button>
               </div>
               <div ng-if="item.state == 1 || item.state == 2">
                 <input type="text" value="{{item.takeoffTime}}" size="6"></input>
               </div>
             </td>
             <td>
               <div ng-if="item.state == 1">
                 <button class="landButton" ng-click="ctrl.land(item.id)">Leszállás</button>
               </div>
               <div ng-if="item.state == 2">
                 <input type="text" value="{{item.landTime}}" size="6"></input>
               </div>
             </td>
             <td>
               <div ng-if="item.state == 1" class="flyingAirTime">
                 {{item.airTime}}
               </div>
               <div ng-if="item.state == 2">
                 <input type="text" value="{{item.airTime}}" size="6"></input>
               </div>
             </td>
          </tr>
      </tbody>
    </table>
    <div>
      <button ng-click="ctrl.addEmpty()">Új</button>
    </div>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
